# Ignore Python virtual environment
.venv/

# Ignore audio and video files
*.mp3
*.wav
*.aac
*.ogg
*.flac
*.m4a
*.wma
*.alac
*.opus
*.amr
*.aiff
*.au
*.mid
*.midi
*.mp2
*.mp1
*.mpa
*.ac3
*.3gp
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm
*.mpeg
*.mpg
*.m4v
*.ts
*.mts
*.vob
*.ogv
*.rm
*.rmvb
*.f4v
*.m2ts
*.divx
*.asf
*.mpe
*.mpv
*.mxf
*.yuv
*.svi
*.3g2
*.m2v
*.m3u8
*.dat
*.dv
*.drc
*.xvid
*.h264
*.h265
*.hevc
*.vp8
*.vp9
*.av1

# Ignore other common files
__pycache__/
*.pyc
*.pyo
*.pyd
